/* Reset CSS*/
a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

button:focus
  button:active
  input:focus
  input:active
  textarea:focus
  textarea:active {
  box-shadow: none;
  outline: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #2b292d;
  letter-spacing: -0.01em;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

::selection {
  background-color: #66666652;
}

/* Custon Grid System */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
}
