:root {
  /* color */
  --color-black: #161616;
  --color-gray: #ababab;
  --color-white: #fff;

  --color-blue: #129efc;
  --color-blue-light: rgba(19, 160, 254, 0.1);
  --color-blue-dark: #0070bb;

  --color-bg: linear-gradient(259.16deg, #13a0fe 0%, #0e9af7 78.08%);
  --color-decoletion: #58bafc;

  --color-navy: #1d2432;
  --color-red: #fe808c;
  --color-green: #65d58d;

  /* font */
  --font-lg: 48px;
  --font-mid: 28px;
  --font-base: 24px;
  --font-sm: 20px;
  --font-micro: 16px;
}

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

ul li,
ol li {
  list-style: none;
}

img {
  display: block;
}

a {
  color: var(--color-gray);
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  z-index: -100;
}

/* layout */
.container {
  max-width: 1240px;
  margin: 0 auto;
}

/* header */
header {
  background-color: var(--color-white);
}

header .container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 34px 0;
}

.logo {
  width: auto;
  height: 37px;
  margin-right: 50px;
}

.logo a {
  display: block;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.gnb-list {
  display: flex;
}

.gnb-item:not(:last-child) {
  margin-right: 36px;
}

.gnb-item a {
  transition: color 200ms ease-in-out;
}

.gnb-item a:hover {
  color: var(--color-blue);
}

.auth {
  display: flex;
  margin-right: 50px;
}

.auth-link {
  padding: 14px 26px;
  text-align: center;
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
}

.auth-link:first-child {
  margin-right: 25px;
}

.auth-link:first-child:hover {
  color: var(--color-blue);
}

.line {
  width: 0.5px;
  height: 54px;
  background-color: var(--color-gray);
}

.auth-link:last-child {
  margin-left: 25px;
  width: 127px;
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: 5px;
}

.auth-link:last-child:hover {
  background-color: var(--color-blue-dark);
}

/* hero */
.hero {
  background: var(--color-bg);
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 600px;
}

.hero-left {
  margin: 0 80px 0 60px;
}

.hero-right {
  max-width: 724px;
}

.hero-title {
  margin-bottom: 26px;
  font-size: var(--font-lg);
  color: var(--color-white);
}

.hero-title .decoration {
  display: inline-block;
  padding: 0 6px;
  background-color: var(--color-decoletion);
}

.hero-desc {
  margin-bottom: 43px;
  font-size: var(--font-mid);
  color: var(--color-white);
}

.download-area {
  display: flex;
}

.download-area a:first-child {
  margin-right: 40px;
}

/* sponsor */
.sponsor {
  background-color: var(--color-blue-light);
  margin-bottom: 80px;
}

.sponsor-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding: 28px 0;
  max-width: 915px;
}

.sponsor-item a {
  display: block;
}

.sponsor-item a img {
  display: block;
  width: 154px;
  height: auto;
}

/* intro */
.intro {
  text-align: center;
  margin-bottom: 80px;
}

.intro .container {
  max-width: 972px;
}

.intro-title {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 658px;
  font-size: var(--font-lg);
  color: var(--color-black);
}

.intro-desc {
  margin-bottom: 30px;
  font-size: var(--font-mid);
  color: var(--color-gray);
}

.images-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.images-wrapper img {
  display: block;
}

.images-wrapper img:not(:last-child) {
  margin-right: 10px;
}

/* content */
.content {
  margin-bottom: 85px;
}

.content-title {
  margin-bottom: 66px;
  font-size: var(--font-lg);
  text-align: center;
  color: var(--color-black);
}

.content-item:not(:last-child) {
  margin-bottom: 50px;
}

.content-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background-color: var(--color-blue-light);
}

.content-item:nth-child(even) .content-card {
  flex-direction: row-reverse;
}

.card-title {
  font-size: var(--font-lg);
  color: var(--color-black);
  margin-bottom: 10px;
}

.card-desc {
  font-size: var(--font-mid);
  color: var(--color-gray);
}

.decoration-image {
  flex-shrink: 0;
  width: 542px;
  height: 361px;
  border-radius: 10px;
}

.decoration-image.first {
  background-image: url("./images/content-img-01.jpg");
}

.decoration-image.second {
  background-image: url("./images/content-img-02.jpg");
}

.decoration-image.third {
  background-image: url("./images/content-img-03.jpg");
}
